@use '../custom' as *;

header {
    display: flex;
    width: 100%;
    height: 100px;
    li:not(li:first-child) {
        display: none;
        @media (min-width: map-get($grid-breakpoints, "lg" )) {
            display: block;
        }
    }
}

nav {
    width: 50%;
    display: inline-block;
    @media (min-width: map-get($grid-breakpoints, "lg" )) {
        width: 100%;
    }
    .nav-list {
        @media (min-width: map-get($grid-breakpoints, "lg" )) {
            display: flex;
            justify-content: space-around;
        }
        height: 100%;
        padding: 10px 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        .logo {
            height: 100%;
            &-link {
                display: inline-flex;
                align-items: center;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                width: 100%;
                height: 100%;
            }
            &-image {
                height: 80%;
            }
        }
        .text-nav {
            display: inline-flex;
            align-items: center;
            &-link {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.hamburger {
    display: inline-block;
    border: none;
    background: white;
    padding: 1rem 2rem;
    margin-left: auto;
    text-decoration: none;
    position: relative;
    padding-left: 1.25em;
    @media (min-width: map-get($grid-breakpoints, "lg" )) {
        display: none;
    }
}

.hamburger:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 1.125em);
    width: 2em;
    height: 0.4em;
    background: #584096;
    box-shadow: 
      0 0.75em 0 0 #584096,
      0 1.5em 0 0 #584096;
  }