@use '../custom' as *;

.service-cards-container {
    background-color: #584096;
    padding-top: 70px;
    padding-bottom: 60px;
    min-height: 100vh;
    .container {
        height: 100%;
    }
}

.services-header {
    height: auto;
    display: flex;
    flex-direction: column;
    h2 {
        padding-bottom: 1.5rem;
        &::after {
            content: "";
            display: block;
            width: 30%;
            padding-top: 3px;
            border-bottom: 2px solid #f9dd94;
          }
    }
    @media (min-width: map-get($grid-breakpoints, "md")) {
        justify-content: space-between;
        span {
            padding-top: 8px;
            width: 70%;
        }
    }
    @media (min-width: map-get($grid-breakpoints, "lg" )) {
        flex-direction: row;
        h2 {
            &::after {
                width: 70%;
            }
        }
        span {
            width: 75%;
        }
    }
}

.service-card {
    width: 100%;
    padding-top: 10em;
    margin-top: 2em;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: WHITE;
    background-size: 100%;
    &__recruitment {
        background-image: url("../../assets/images/recruitment.jpg");
    }
    &__international {
        background-image: url("../../assets//images/international.jpg");
    }
    &__support {
        background-image: url("../../assets/images/bespoke.jpg");
    }
    &-content {
        h3 {
            padding-top: 1em;
        }
        p {
            padding-bottom: 1em;
        }
        width: 100%;
        height: 100%;
        background-color: white;
    }
}